h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
}

.navbar {
  width: 100%;
  height: 80px;
  max-width: 100%;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  background-color: #0342ff;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  padding-top: 0;
  text-decoration: none;
  display: flex;
}

.image {
  width: 24%;
  height: 100%;
  max-width: none;
  flex: 0 auto;
  display: block;
}

.link-block {
  width: auto;
  justify-content: center;
  align-items: center;
  display: block;
  overflow: visible;
}

.link-block-2 {
  width: auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: block;
}

.nav-bar-links {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.link-block-3, .link-block-4, .link-block-5, .link-block-6, .link-block-7, .link-block-8 {
  text-decoration: none;
}

.hero-section {
  height: 100%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  display: flex;
}

.bg-hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  display: flex;
}

.bg-hero.hero {
  background-color: #000;
}

.image-2 {
  height: 800px;
  max-height: none;
}

.heading {
  color: #fff;
  margin-top: -67px;
  margin-bottom: 0;
  font-size: 80px;
  text-decoration: none;
}

.container {
  background-color: #2e2e2e;
}

.nav-container {
  justify-content: center;
  display: flex;
  position: static;
}

.nav-tabs {
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
}

.nav-tabs.signe-up {
  background-color: #14aa46;
  flex: 0 auto;
}

.nav-menu {
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-2 {
  height: 62px;
  background-color: rgba(0, 0, 0, 0);
  justify-content: space-around;
  align-items: stretch;
  display: flex;
  position: fixed;
}

.nav-bar {
  width: 100%;
  height: 80px;
  grid-column-gap: 37px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav-tabsi {
  width: 80px;
  height: 40px;
  color: #fff;
  border: 1px #000;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.nav-tabsi.login {
  width: 130px;
  height: 42px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-color: #818080;
  border-radius: 10px;
}

.nav-tabsi.login._3 {
  width: 155px;
  color: #000;
}

.nav-tabsi.sihne-up {
  width: 100px;
  height: 42px;
  background-color: #2514e7;
  border-style: none;
  border-color: #0aaf83;
  border-radius: 7px;
  padding: 0;
}

.pnav {
  color: #777575;
  margin-bottom: 0;
  font-size: 20px;
}

.pnav.login {
  color: #000;
  font-size: 18px;
}

.pnav.signe {
  color: #fff;
  font-size: 19px;
}

.nav-seperator {
  grid-column-gap: 23px;
  margin-right: 59px;
  display: flex;
}

.nav-sep-1 {
  grid-column-gap: 41px;
  margin-left: 322px;
  display: flex;
}

.image-wrapper {
  height: auto;
  justify-content: flex-start;
  align-items: center;
  padding-right: 128px;
  display: flex;
}

.heading-wrapper {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  display: block;
}

.image-3 {
  width: 500px;
  height: auto;
}

.heading-2 {
  max-width: 21ch;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 55px;
  line-height: 1.2;
}

.div-block {
  max-width: 63ch;
  grid-row-gap: 23px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 109px;
  display: flex;
}

.button {
  background-color: #038505;
  border-radius: 7px;
  padding: 14px 41px;
  font-size: 18px;
}

.button._2 {
  background-color: #000;
  border-radius: 26px;
}

.text-span {
  color: #038505;
}

.button-gibi {
  color: #fff;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
}

.image-4 {
  width: 500px;
}

.image-5 {
  width: 500px;
  height: auto;
}

.div-block-2 {
  background-color: #038505;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 12px 43px;
  display: flex;
}

.paragraph {
  color: #727272;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
}

.test-section {
  height: 800px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-3 {
  width: 500px;
  height: 500px;
  border: 2px solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.div-block-4 {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  display: block;
  position: static;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: perspective(466px);
}

.div-jadid {
  width: 100%;
  height: 40px;
  background-color: #065300;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.pop-up-section {
  height: 100vh;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.the-pop-up {
  width: 485px;
  height: 244px;
  max-width: 1200px;
  background-color: #ffe596;
  border: 1px solid #000;
  border-radius: 41px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  position: relative;
}

.mky-container {
  width: auto;
  height: auto;
  max-width: 1200px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  border-radius: 0;
  margin-left: auto;
  margin-right: auto;
}

.heading-3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.paragraph-2 {
  text-align: center;
}

.text-field {
  width: 280px;
  height: 42px;
  color: red;
  border: 2px solid #000;
  border-radius: 5px;
  margin-bottom: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  display: block;
}

.form-sign-in-pop-up {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.close-function-pop-up {
  width: 50px;
  height: 50px;
  color: #fffefe;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 63px;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: -5%;
  bottom: -4px;
  left: 92%;
  right: 0%;
}

.paragraph-3 {
  width: auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 2px #000;
  border-radius: 42px;
  margin-bottom: 0;
  font-family: Varela Round, sans-serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 33px;
  text-decoration: none;
}

.div-block-6 {
  width: 40px;
  height: 40px;
  color: #292424;
  background-color: #000;
  border-radius: 56px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.main-container {
  max-width: 1200px;
}

.headin-hero-wrapper {
  max-width: 51ch;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.image-hero-wrapper {
  justify-content: center;
  align-items: center;
  display: block;
}

.hero-content-wrapper {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 100px;
}

.paragraph-4 {
  text-align: right;
  font-size: 19px;
  line-height: 1.5;
}

.heading-4 {
  text-align: right;
  -webkit-text-fill-color: transparent;
  background-color: #0e6296;
  background-image: linear-gradient(105deg, #0051d3, #00d0ff);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 64px;
  line-height: 1.2;
}

.image-6 {
  width: 600px;
  height: 500px;
}

.button-2 {
  background-color: #0173df;
  border-radius: 8px;
  padding: 13px 30px;
  font-size: 20px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

@media screen and (max-width: 991px) {
  .heading {
    margin-top: -92px;
    font-size: 63px;
  }

  .nav-bar {
    width: 100vw;
    grid-column-gap: 85px;
    flex-direction: row;
    justify-content: center;
    padding-left: 26px;
  }

  .nav-seperator {
    margin-right: 0;
  }

  .nav-sep-1 {
    margin-left: 0;
  }

  .image-wrapper {
    padding-right: 29px;
  }

  .heading-2 {
    font-size: 42px;
  }

  .div-block {
    max-width: 58ch;
    padding-left: 58px;
  }

  .button-gibi {
    margin-bottom: 0;
    font-size: 14px;
  }

  .image-5 {
    width: 350px;
  }

  .paragraph {
    margin-bottom: 0;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .bg-hero {
    background-position: 50%;
  }

  .nav-bar {
    grid-column-gap: 50px;
    padding-left: 0;
  }

  .nav-tabsi {
    font-size: 8px;
  }

  .nav-tabsi.login {
    width: 90px;
    height: 35px;
  }

  .nav-tabsi.sihne-up {
    height: 35px;
  }

  .pnav {
    font-size: 10px;
  }

  .nav-sep-1 {
    grid-column-gap: 1px;
  }

  .heading-2 {
    font-size: 32px;
  }

  .button {
    font-size: 15px;
  }

  .button-gibi, .paragraph {
    font-size: 12px;
  }
}

@media screen and (max-width: 479px) {
  .bg-hero {
    background-position: 50%;
  }

  .heading {
    font-size: 41px;
  }
}
